rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access for all documents when in development mode
    match /{document=**} {
      allow read, write: if true;
    }
  }
} 