rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow access to all files - for development only
      allow read, write: if true;
    }
  }
} 